
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lost',sans-serif;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    background-color: #6fb1fc;
    --text-color:#000;
    --secound-color:#ca4b02;
    --main-color:#f75023;
    --big-font:5rem;
    --h2-font:3rem;
    --p-font:1rem;

}



.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: -100%;
    animation: anim4 2s forwards 2.5s;
}

.navbar .logo{
    width: 160px;
    cursor: pointer;
    margin-top: 0.5%;
    margin-left: 2%;
    border-radius: 50px;
}

ul{
    margin-top: -4%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: darkslategray;
    margin-top: -3%;
    transition: .4s ease;

}

ul li a:hover{
    color: rgb(230,104,59);
}
section{
    padding: 100px 18px;

  }
  .about{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    align-items: center;
    grid-gap:2rem;
}

.about-text h2{
    font-size: var(--h2-font);
    font-weight: 500;
    margin:8px 0px 25px;
    line-height: 1.1;
}
.about-text h3{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}
.about-text p{
    color: var(--secound-color);
    max-width: 550px;
    font-weight: var(--p-font);
    line-height: 28px;
    margin-bottom: 45px;
}
footer{
    text-align: center;
    background: orangered;
    margin-top: -120px
 
   }
.btn{
    display: inline-block;
    color: var(--bg-color);
    background: var(--min-color);
    font-size: var(--p-font);
    padding: 10px 40px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 30px;
    transition: ease .40s;

}
.btn:hover{
    transform: scale(1.1);
    background: #f75023;
}
.contact .action form input[type="email"]{
    max-width: 100%;
    width: 470px;
    padding: 12px 15px;
    background: var(--bg-color);
    color: var(--text-color);
    border: none;
    outline: none;
    margin: 0 10px 20px 0;
    border-radius: 30px;
} 
.contact .action form input[type="submit"]{
    padding: 12px 40px;
    background: orangered;
    color: var(--bg-color);
    border: none;
    outline: none;
    margin: 0 10px 20px 0;
    border-radius: 30px;
    cursor: pointer;
} 
.about{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    align-items: center;
    grid-gap:2rem;
    
}
.about-img img{
    max-width: 100%;
    width: 450px;
    height: 500px;
    margin: 40px;
    border-radius: 20px;
}
.about-text h2{
    font-size: var(--h2-font);
    font-weight: 500;
    margin:8px 0px 25px;
    line-height: 1.1;
}
.about-text h3{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}
.about-text p{
    color: var(--secound-color);
    max-width: 550px;
    font-weight: var(--p-font);
    line-height: 28px;
    margin-bottom: 45px;
}
.about-text{
    overflow: hidden;
    position: relative;
    left: -200%;
    animation: anim3 2s forwards 2s;
            }
            @keyframes anim3{
                from{
                    left: -100%;

                }
                to{
                    left: 0%;
                }
            }  
            
.sub-box{
    padding: 45px 45px 45px 45px;
    transition: ease .50s;
    cursor: pointer;
}

.sub-box:hover{
    background-color: #cf07bfc4;
    box-shadow: 18px 0px 87px 0px rgb(10 15 70 /70%);
    border-radius:12px;
    will-change: transform;
    transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05,1.05,1.05);
}
.navbar{
    position: absolute;
    width: 100%;
    top: -100%;
    animation: anim4 2s forwards 2.5s;
}
@keyframes anim4{
    from{
        top: 100%;
    }
    to{
        top: 0%;
    }
}


